<div class="modalDialog">
  <dialog>
    <a title="Close" class="close" (click)="closeModal()">X</a>
    <h1>{{film.title}}</h1>
    <p>Directeur : {{film.director}}</p>
    <p>Producteur : {{film.producer}}</p>
    <p>Date de sortie : {{film.release_date}}</p>
    Synopsis : <p>{{film.opening_crawl}}</p>
    Personnages :
    <div class="charactersDiv">
      <div *ngFor="let item of film.characters" class="characters">
        <a (click)="redirect()" [routerLink]="['/detail', item]">{{item | getName | async}}</a>
      </div>
    </div>
  </dialog>
</div>
